@import "base/base";

:root {
  --color-primary: #facc15;
  --color-secondary: #34d399;
  --bg-color: #e2e8f0;
  --color-white: #fff;
  --color-grey: #777;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  // grid-template-rows: auto auto;
  // min-height: 100vh;
}

.header {
  display: grid;
  grid-template: auto auto / 2fr 1fr;
  align-items: start;
  gap: 2rem 4rem;
  grid-column: 2;
  padding: calc(min(2vw, 2rem)) calc(min(2vw, 2rem)) calc(min(2vw, 2rem))
    calc(min(4vw, 4rem));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .search {
    display: flex;
    align-items: center;

    svg {
      height: 3rem;
      margin-right: 2rem;
      vertical-align: middle;
    }

    input {
      flex: 1;
      height: 3.5rem;
      font-size: 1.6rem;
      background: var(--bg-color);
      padding: 0 1rem;
      border: none;
      border-radius: 2rem;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-self: end;
    padding-right: 5rem;

    svg {
      margin-right: 2.5rem;
    }

    .profile__icon {
      width: 5rem;
      background: var(--color-primary);
      border-radius: 50%;
      margin-right: 3rem;
    }

    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .header__user {
    display: flex;
    align-items: center;

    img {
      width: 8rem;
      background: var(--color-primary);
      border-radius: 50%;
      margin-right: 2rem;
    }

    span {
      font-weight: bold;
    }
  }

  .header__btns {
    display: flex;
    justify-content: space-evenly;
    align-self: center;

    .btn {
      width: 10rem;
      color: var(--color-white);
      font-size: 1.8rem;
      font-weight: bold;
      background: var(--color-secondary);
      padding: 1.2rem 2rem;
      border: none;
      border-radius: 3rem;
    }
  }
}

.sidebar {
  display: grid;
  // grid-template-rows: 100px auto auto;
  align-content: start;
  gap: 5rem;
  grid-row: 1 / span 2;
  min-height: 100vh;
  color: var(--color-white);
  font-weight: bold;
  background: var(--color-secondary);

  .sidebar__logo {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    padding: 2.5rem 0 0 2.5rem;

    svg {
      width: 5rem;
      height: 5rem;
      margin-right: 1rem;
    }
  }

  ul {
    font-size: 2rem;
    padding: 0 3.5rem;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1.5rem;
    }

    img {
      margin-right: 1.5rem;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2.5rem;
  background: var(--bg-color);
  padding: 3.5rem 3rem 3.5rem 0;

  section > h2 {
    margin-bottom: 1.5rem;
  }

  .project {
    padding-left: 2rem;

    .project__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      // grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;

      .project__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--color-grey);
        font-size: 1.8rem;
        background: var(--color-white);
        padding: 3.5rem 2rem;
        border-left: 1rem solid var(--color-primary);
        border-radius: 1rem;

        h2 {
          color: black;
        }

        .card__icons {
          display: flex;
          justify-content: flex-end;
          gap: 3rem;
          margin-top: 2rem;
          margin-right: 2rem;
        }
      }
    }
  }

  .announcement {
    color: var(--color-grey);

    h2,
    h3 {
      color: black;
    }
    &__wrapper {
      background: var(--color-white);
      padding: 2rem;
      border-radius: 1rem;

      div p {
        font-size: 1.3rem;
      }
    }
    &__item:not(:last-child) {
      border-bottom: 1px solid var(--color-grey);
    }
  }

  .trending {
    margin-top: 3rem;
    img {
      width: 5rem;
      border-radius: 50%;
    }

    li:nth-child(2) img {
      background: var(--color-primary);
    }
  }
}
