.header {
  display: grid;
  grid-template: auto auto / 2fr 1fr;
  align-items: start;
  gap: 2rem 4rem;
  grid-column: 2;
  padding: calc(min(2vw, 2rem)) calc(min(2vw, 2rem)) calc(min(2vw, 2rem))
    calc(min(4vw, 4rem));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .search {
    display: flex;
    align-items: center;

    svg {
      height: 3rem;
      margin-right: 2rem;
      vertical-align: middle;
    }

    input {
      flex: 1;
      height: 3.5rem;
      font-size: 1.6rem;
      background: var(--bg-color);
      padding: 0 1rem;
      border: none;
      border-radius: 2rem;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-self: end;
    padding-right: 5rem;

    svg {
      margin-right: 2.5rem;
    }

    .profile__icon {
      width: 5rem;
      background: var(--color-primary);
      border-radius: 50%;
      margin-right: 3rem;
    }

    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .header__user {
    display: flex;
    align-items: center;

    img {
      width: 8rem;
      background: var(--color-primary);
      border-radius: 50%;
      margin-right: 2rem;
    }

    span {
      font-weight: bold;
    }
  }

  .header__btns {
    display: flex;
    justify-content: space-evenly;
    align-self: center;

    .btn {
      width: 10rem;
      color: var(--color-white);
      font-size: 1.8rem;
      font-weight: bold;
      background: var(--color-secondary);
      padding: 1.2rem 2rem;
      border: none;
      border-radius: 3rem;
      cursor: pointer;
    }
  }
}
